
html, body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'open sans', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    outline: rgba(255, 0, 0, 0.3) solid 1px;
}

.arrow-up{
    position: fixed;
    bottom: 0;
    right: 0;
}
.arrow-up a i{
    color: #f63854;
    cursor: pointer;
    font-size: 200%;
    padding: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #eee
}

section{
    padding: 5% 0px;
}
main #navbar{
    width: 100%;
    background-color: #fff;
    font-family: 'open sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
   margin: 10px 50px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* width: 40%; */
}
nav #logo, footer #logo{
    font-size: 220%;
    font-weight: 900;
    color: #f63955;
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
}
ul li a:hover{
    color: #f63955;
    padding-bottom: 10px;
    border-bottom: 1px solid #f63955;
}
ul li a{
   text-decoration: none; 
   color: #000;
   font-size: 16px;
}

ul li a:active{
    color: #f63955;
}

.grey-text{
    font-family: 'Open Sans', sans-serif;
    color: #abacae;
    font-size: 14px;
}
figure{
    margin: 0;
}
 ul{
     padding-left: 0;
 }
 .cards-title{
    font-family: 'Arvo', serif;
    color: #333;
    font-size: 100%;
    padding: 0 5px; 
}
.btn{
    padding: 10px 30px; /* 4% 9%*/
    margin: 5% 0;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
    cursor: pointer;
    border-radius: 30px;
    margin-right: 15px;
    text-transform: uppercase;
    background-color: #f63955;
    color: #fff;
    border: 1px solid #f63955;
}

.section-title{
    font-size: 180%;
    margin-bottom: 7%;
    color: #333;
    text-align: center;   
    font-family: 'Arvo', sans-serif;
    font-weight: 600;
}

section#first-page{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#first-page #intro{
    width: 50%;
}
#first-page #intro #heading{
    font-family: arvo, serif;
    font-weight: 900;
    font-size: 250%;
}
#first-page #intro p{
    font-family: 'open sans', sans-serif;
}
#first-page #intro-img{
    width: 45%;
}
#first-page #intro-img img{
    width: 100%;
}

#first-page .two-btns #white-btn{
    background-color: #fff;
    color: #f63955;
    cursor: pointer;
}
#first-page .two-btns #white-btn:hover, .arrow-up a i:hover{
    background-color: #f63955;
    color: #fff;
}
.btn:hover{
    background-color:#fff;
    color: #f63955;
}
section#our-services{
    padding:5% 0px;
}
section#our-services #services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
section#our-services #services .cards{
    text-align: center;
    width: 30%;
    margin: 15px 5px;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: 1px 1px 10px 2px #ddd;
    padding: 5px 0;
}
section#our-services #services .cards .card-logo{
    color: #f63955;
    font-size: 20px;
}
section#our-services #services .cards .card-logo i{
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 15px;
}

section#our-services #services .cards .card-text{
    color: #bbb;  
    padding: 0 10px;
}

#stat-page{
    display: flex;
    padding: 5% 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    
    background-color: #f9f9f9;
    width: 100%;
    height: auto;  
}
#stat-page #wordings{
    border: none;
    width: 55%;
    font-size: 14px;
    padding-top: 5%;
}
#stat-page #wordings h2{
    font-family: 'Arvo', serif;
}
#stat-page figure{
    width: 45%;
}
#stat-page figure img{
    width: 90%;
    height: 100%;
}


section#awesome-features{
    outline: none;
}
#features{
    padding: 50px 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#features .awesome{
    width: 22%;
}
#features .awesome .awe-cards{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #eee;
    margin: 15px 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px #ddd;
}
#features .awesome .awe-cards i{
    color: #f63955;
    font-size: 20px;
    padding: 2px 10px;
}
#features #left{
    text-align: right;
}

#features #middle{
    width: 55%;/*25%*/
}

#features #middle .mobile{
    width: 10%; 
}


section#our-team{
    background: #f9f9f9;   
}
span{
    padding-bottom: 5px;
    border-bottom: 1.5px solid #f63955;
}

section#our-team div#team{
    display: flex;
    flex-wrap: wrap;
    padding:0 15px;
    justify-content: space-evenly;
    align-content: space-between;
}
div#team .team-member{
    box-shadow: 1px 1px 10px 2px #ddd;
    border: 1px solid #eee;
    width: 45%;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: #fff;
    height: auto;
}

#our-team div#team .team-member figure{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
#our-team div#team .team-member figure img{
    width:180px;
    height: 280px;
    margin-right: 15px;
    background-color: #ccc;
    justify-content: flex-start;   
}

#our-team div#team .team-member figure figcaption{
    margin-right: 20px;
    color: #bbb;
    padding: 15px 0;
    font-family: 'open sans', san-serif;
    /* padding-right: 55px; */
    text-align: left;
    justify-content: flex-end;
}
#our-team div#team .team-member figure figcaption .member-name{
    color: #000;
    font-family: 'Arvo', serif;
    font-size: 110%;
    margin-bottom: 0;
}
#our-team div#team .team-member figure figcaption .member-name:hover{
    color: #f63955;
}
#our-team div#team .team-member figure figcaption .member-position{
    color: #aaa;
    margin-top: 10px;
    font-weight: 600;
}

#our-team div#team .team-member figure .social-media {
    margin-bottom: 5px;
    color: green;
    font-size: 20px;
    
}
#our-team div#team .team-member figure .social-media i{
    padding: 0 2%;
    cursor: pointer;
}

section#pricing{
    background-color: #fff;
    padding-bottom: 80px;
}
section#pricing #pricing-tabs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
section#pricing #pricing-tabs .tab{
    box-sizing: border-box;
    border: 1px solid #eee;
    justify-content: center;
    box-shadow: 1px 1px 30px 2px #ddd;
    width: 28%;
    cursor: pointer;
    margin: 20px 0;
    padding-top: 30px;
    line-height: 1.5;
    text-align: center;
}

section#pricing #pricing-tabs .tab .icon{
    color: #f63955;
    font-size: 20px;  
    text-align: center;   
}
section#pricing #pricing-tabs .tab .icon i{
    border: none;
    background-color: #eee;
    border-radius: 50%;
    padding: 16px;
}
section#pricing #pricing-tabs .tab .price{
    font-family: 'open sans', san-serif;
}
section#pricing span{
    
    font-weight: 700;
    font-size: 135%;
    color: #f63955;
    border-bottom: none;
}
section#pricing #pricing-tabs .tab #middle i{
    color: white;
    background-color: #f63955;
    
}
section#pricing #pricing-tabs .tab #middle:hover{
    box-shadow: 2px 2px 10px 5px #ccc;
}


section#pricing #pricing-tabs .tab ul .subscription{
    font-family: 'Arvo', serif;
}
section#pricing #pricing-tabs ul li i{
    color: #f63955;
    border: none;
    font-size: 22px;
}
section#pricing #pricing-tabs #tab2{
    box-shadow: 1px 1px 10px 5px #eee;
}

section#testimonials{
    outline: none;
}

section#testimonials .testi-section .free{
    font-family: 'Arvo', serif;
    font-size: 140%;
    padding-top: 30px;
    margin: 0 30px;
}
section#testimonials .testi-section .trial{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 30px;
    padding: 0 10px;
}
section#testimonials .testi-section .trial #free-trial{
    width: 60%;
}
section#testimonials .testi-section .trial #side-btn{
    padding: 10px 30px;
    margin: 0;
    height: 40px;
}
section#testimonials .test-card{
    padding: 50px 0;
    background-color: #f63854;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}

section#testimonials .test-card .fig{
    text-align: center;
    width: 28%;
    padding: 15px 2px;
    margin-bottom: 10px;
    background-color: #fff;
    border: none;
    font-family: 'open sans', sans-serif;
    border-radius: 5px;
}
section#testimonials .test-card .fig .name{
    font-family: 'Arvo', serif;
}
section#testimonials .test-card .fig img{
    margin: 5px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
section#testimonials .test-card .fig figcaption .star i{
    color: #f63854;
    font-size: 14px;
}

section#contact-us{
    background-color: #f9f9f9;
    padding: 30px 0;
}
section#contact-us .contact-section{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: space-between;
}
section#contact-us .contact-section #map{
    width: 40%;
}
section#contact-us .contact-section #map iframe{
    width: 100%;
    cursor: pointer;
}
section#contact-us .contact-section form{
    justify-self: flex-start;
    width: 55%;
    box-sizing: border-box;
}
section#contact-us .contact-section form input{
    box-sizing: border-box;
    padding: 7px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;  
}
section#contact-us .contact-section form #name-email{
    display: flex;
    justify-content: space-between;
}
section#contact-us .contact-section form #name, section#contact-us .contact-section form #mail{
    width: 47%;   
}
section#contact-us .contact-section form textarea{
    color: #f63955;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}


div#team .team-member:hover, section#our-services #services .cards:hover, section#pricing #pricing-tabs .tab:hover, #features .awesome .awe-cards:hover{
    box-shadow: 2px 2px 10px 5px #ccc;
}

footer{
    font-family: 'open sans', sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    
}
footer #footer-sections{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    
}
footer #footer-sections ul{
    margin-left: -20px;
    width: 20%;
    border: none; 
}
footer #footer-sections #sect1{
    margin-left: 0;
    margin-top: 30px;
}
footer #footer-sections #sect1 #description, footer #footer-sections #sect4{
    line-height: 1.5;
}
footer #footer-sections .sect-title{
    font-size: 110%;
    font-weight: 900;
}
footer .social-media{
    margin-left: 10px;
}
footer .social-media i{
    color: black;
    margin-right: 20px;
    cursor: pointer;
}
footer hr{
    margin: 0 20px;
    border: 1px solid #ddd;
}
footer p#copyright{
    text-align: center;
    padding: 10px 0;
}
footer p#copyright span{
    color: #f63955;
    cursor: pointer;
}

@media (max-width: 980px){
    section#our-services #services .cards, section#pricing #pricing-tabs .tab, footer #footer-sections ul{
        width: 42%;
    }
    section#contact-us .contact-section #map, section#contact-us .contact-section form{
        width: 90%;
        margin: 10px auto;
    }

    #features #middle{
        width: 100%;
        text-align: center;
        padding-top: 40px;
    }
    
    #features #left, #features #right, #features #middle{
        margin: 0;
    }
    div#team .team-member, #features .awesome{
        width: 680px;
    } 

}

@media (max-width: 760px){
    #our-team div#team .team-member figure{
        display: block;
        width: 100%; 
    }
    #our-team div#team .team-member figure img{
        display: flex; 
        margin: 0;
        width: 100%;
        height: auto;
        text-align: left;

    }
    #our-team div#team .team-member figure figcaption{
        padding: 5px 25px;
        text-align: left;
    }
    section#pricing #pricing-tabs .tab, div#team .team-member, section#our-services #services .cards{
        width: 80%;
    }
    footer #footer-sections{
        display: block;  
    }
    footer span{
        border-bottom: none;
    }
    footer #footer-sections ul, footer #footer-sections #sect1{
        width: 95%;
        margin-left: 10%;
        text-align: left;
    }
    /* #stat-page{
        margin: 0;
    } */
    #stat-page #wordings, section#testimonials .test-card .fig, #first-page #intro, #features .awesome{
        width: 80%;
    }
    section#contact-us .contact-section #map, section#contact-us .contact-section form, section#testimonials .testi-section .trial #free-trial{
        width: 90%;
        margin-bottom: 20px;
    }
    #features #left, #features #right{
        margin: 0;
    }
    #features #middle{
        width: auto;
        padding-top: 30px;
        margin: 0;
        /* margin-right: -660px;margin-left: -800px; */
       display: block;
    }
    #features #middle #mobile{
        width: 100%;
    } 
     #stat-page figure, #first-page #intro-img{
        width: 95%;
        margin-top: 10%;
        
    }
    section#features{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    #first-page #intro #heading{
        font-size: 140%;
    }
}